:root {
  --navbar-height: 60px;
  --primary-color: #dc5f00;
  --secondary-color: #604cc3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

h1 {
  font-size: 2rem;
  font-weight: extra-bold;
  color: var(--primary-color);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

a.hover {
  color: #6f2dbd;
}

header {
  width: 100%;
  height: var(--navbar-height);
  padding: 0 2rem;
  position: fixed;
  z-index: 1000;
  top: 0;
  background-color: black;
}

.container {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 0 2rem;
}

img {
  width: 30px;
  color: #fff;
}

.cta-nav-color {
  color: white;
}

.logo {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.button__book:hover {
  color: white;
  border: 1px solid #fff;
}

.event {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.date {
  text-align: center;
  background: #f8f8f8;
  padding: 10px;
  border-radius: 5px;
  margin-right: 20px;
  height: 80px;
  width: 90px;
  border: 1px solid;
}

.date:hover {
  background-color: var(--secondary-color);
  color: white;
}
.date .day {
  font-size: 22px;
  font-weight: bold;
}
.date .month {
  font-size: 14px;
  text-transform: uppercase;
}
.content {
  flex: 1;
}
.title__events {
  text-align: left;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 5px 0 10px 0;
  font-size: 18px;
  font-weight: 600;
}
.description {
  font-size: 14px;
}

.separator {
  margin-bottom: 20px;
  margin-top: 20px;
}
